/* #contact > h5 {
  text-align: center;
} */
.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%;
}
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__option {
  background: var(--color-bg-variant);
  border-radius: 1.2rem;
  padding: 1.2rem;
  transition: var(--transition);
  text-align: center;
  border: 1px solid transparent;
}
.contact__option:hover {
  background: transparent;
  border: 1px solid var(--color-primary-variant);
}
